<!-- views/pages/index.ejs -->

<% include layouts/head %>

<body class="container">

    <main>
        <div class="jumbotron">
            <h1>ERROR</h1>
            <p><%= error %></p>
            <p><%= error.stack %></p>
        </div>
    </main>
    
</body>
</html>